$bubble-size: 55px;
$bubble-radius: 15px;
$overlay-color: rgba(255, 255, 255, 0.3);
$faded-white: rgba(255, 255, 255, 0.2);

$instinct-bgd-faded: rgba(255, 230, 0, 0.7);

$mystic-bgd-faded: rgba(46, 123, 255, 0.5);

$valor-bgd-faded: rgba(238, 34, 34, 0.5);
$valor-bottom-menu: rgba(246, 136, 136, 0.9);
$refresh-button: rgba(246, 136, 136, 0.5);

$light-valor: #ff8a8a;
