.fa-s {
    display: flex;
    align-items: flex-start;
}
.fa-c {
    display: flex;
    align-items: center;
}
.fj-s {
    display: flex;
    align-items: flex-start;
}
.fj-c {
    display: flex;
    align-items: center;
}
.fdc-a-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fdc-j-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
