@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import "config";
@import "utilities";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;

    position: absolute;

    /* background-image: url(../images/backgrounds/main_bgd_1.jpg); */
    background-image: url(../images/backgrounds/main_bgd_2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-overlay {
    position: absolute;
    background-color: $overlay-color;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-color: rgba(128, 128, 128, 0.2); */

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;
}

.main-window {
    width: 80vw;
    // width: 100%;
    // min-height: 20vh;
    // height: 70vh;
    // height: 100%;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px black;
    overflow-y: hidden;
    /* padding: 30px; */
}

.service-name {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

    padding: 3px 5px;
    font-weight: bold;
    // top: 0;
    // position: sticky;
    width: 100%;
    /* border-bottom: 2px solid; */
}

.container {
    display: flex;
    align-items: flex-start;
    /* background-color: salmon; */
    overflow-y: auto;
    /* border-radius: 2px; */
    height: 680px;
    /* width: 100%; */
}

.groupChat-section {
    background-color: rgba(107, 107, 107, 0.705);
    height: 100%;
    width: 75px;
    padding: 10px;
    // max-width: 85px;
    // width: 200px;
    // min-width: 85px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .groupChat-bubble {
        cursor: pointer;
        width: $bubble-size;
        height: $bubble-size;
        margin-bottom: 10px;
        // background-color: rgb(39, 39, 39);
        border-radius: $bubble-radius;
        background-image: url(../images/backgrounds/premier_ball_img.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .groupChat-bubble.home {
        margin: 0;
    }

    .groupChat-bubble.different {
        background-image: url(../images/backgrounds/group_img.jpg);
    }

    hr {
        width: 40%;
        height: 3px;
        background-color: black;
        border-style: none;
        margin: 10px 0px;
    }
}

.secoundary-container {
    background-image: linear-gradient($valor-bgd-faded, $faded-white);
    padding: 30px;
    height: 100%;
    border-left: 2px solid rgb(87, 87, 87);
    width: 410px;

    .side-menu-btn {
        // background-image: url(../images/icons/Add_Raid_icon.png);
        background-color: rgba(255, 255, 255, 0.4);
        // min-width: 50px;
        // height: 30px;
        width: max-content;
        padding: 2px 15px;
        border-radius: 15px;
        width: 325px;
        height: 56px;

        margin: 0px 0px 10px;
        display: flex;
        align-items: center;

        font-size: 1.2em;
        font-weight: bold;

        // img {
        //     width: 50px;
        // }
    }

    .bottom-menu {
        background-color: $valor-bottom-menu;

        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 245px;
        width: 307px;

        padding: 10px;

        .trainer-info {
            span {
                color: white;
                font-size: 1.2em;
            }

            hr {
                border: 2px solid white;
                border-radius: 2px;
            }
        }
    }
}

.side-menu-btn.active {
    border: 4px solid white;
}

.route-viewer {
    // margin: 25px;
    display: flex;
    align-items: center;
    span {
        margin: 6px 8px 10px;
        // height: max-content;
        // height: 40px;
        font-size: 2em;
        // display: flex;
        // align-items: center;
    }
}

.team-logo-valor {
    background-image: url(../images/icons/Valor_icons/team-valor-logo.png);
    background-position: center;
    background-size: cover;
    height: 46px;
    width: 46px;
    margin: 0px 10px 0px 10px;
}

.settings-btn {
    background-image: url(../images/icons/utility_icons/Settings.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
}

.settings-bgd {
    background: transparent;
    // width: 50px;
    // height: 50px;
    padding: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.2s;
}
.settings-bgd:hover {
    background: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    height: 45px;
    // width: 45px;
}

.menu-text {
    margin-left: 50px;
    font-size: 1.2em;
}
