@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import "config";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;

    position: absolute;

    /* background-image: url(../images/backgrounds/main_bgd_1.jpg); */
    background-image: url(../images/backgrounds/main_bgd_2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-overlay {
    position: absolute;
    background-color: $overlay-color;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-color: rgba(128, 128, 128, 0.2); */

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;
}

.service-name {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

    padding: 3px 5px;
    font-weight: bold;
    top: 0;
    position: sticky;
    width: 100%;
    /* border-bottom: 2px solid; */
}

.main-window {
    width: 80vw;
    // width: 100%;
    // min-height: 20vh;
    height: 70vh;
    // height: 100%;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px black;
    overflow-y: hidden;
    /* padding: 30px; */
}

.container {
    display: flex;
    align-items: flex-start;
    /* background-color: salmon; */
    overflow-y: auto;
    /* border-radius: 2px; */
    height: 100%;
    /* width: 100%; */
}

.groupChat-section {
    background-color: rgba(107, 107, 107, 0.705);
    height: 100%;
    width: 75px;
    // max-width: 85px;
    // width: 200px;
    // min-width: 85px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .groupChat-bubble {
        cursor: pointer;
        width: $bubble-size;
        height: $bubble-size;
        margin: 10px;
        background-color: rgb(39, 39, 39);
        border-radius: $bubble-radius;
    }
}

.box {
    padding: 30px;
    width: fit-content;
    height: 20vh;

    opacity: 0.85;
    border-radius: 20px;
    /* margin-top: 10%; */

    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 40%;
    height: 3px;
    background-color: black;
    border-style: none;
}

.secoundary-container {
    background-image: linear-gradient($valor-bgd-faded, $faded-white);
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid rgb(87, 87, 87);

    #add-raid-btn {
        // background-image: url(../images/icons/Add_Raid_icon.png);
        background-color: rgb(197, 197, 197);
        // min-width: 50px;
        // height: 30px;
        width: max-content;
        padding: 2px 8px;
        border-radius: 5px;

        display: flex;
        align-items: center;

        font-size: 1.2em;
        font-weight: bold;

        img {
            width: 50px;
        }
    }
}

.route-viewer {
    // margin: 25px;
    display: flex;
    align-items: center;
    span {
        margin: 6px 8px 10px;
        // height: max-content;
        // height: 40px;
        font-size: 2em;
        // display: flex;
        // align-items: center;
    }
}

.bottom-menu {
    top: 90%;
    background-color: #f68888;
    opacity: 0.9;

    display: flex;
    align-items: center;

    padding: 10px;

    .trainer-info {
        span {
            color: white;
            font-size: 1.2em;
        }

        hr {
            border: 2px solid white;
            border-radius: 2px;
            width: 100%;
        }
    }
}

.team-logo-valor {
    background-image: url(../images/icons/Valor_icons/team-valor-logo.png);
    background-position: center;
    background-size: cover;
    height: 46px;
    width: 46px;
    margin: 0px 10px 0px 10px;
}
